main {
	background-color: rgba(238, 252, 253, 0.973);
}


section div h2 {
	font-size: 50px;
	display: flex;
	align-items: center;
	margin: 0px;
}

section div p {
	text-decoration: none;
	color: black;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	width: 50%
}

main>section1>div>h2 {
	font-size: 50px;
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: left;
	margin: 20px;
	margin-right: 470px;
}

main>section1>div>p {
	text-decoration: none;
	color: black;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: left;
	margin-left: 950px;
}

#img1 {
	position : relative;
	bottom: 130px;
	margin-left: 1200px;
	border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgb(11, 239, 247), 
    -10px -10px 10px 10px rgb(11, 239, 247),
    -10px 10px 10px 10px rgba(6, 19, 206, 0.1), 
    10px -10px 10px 10px rgba(6, 19, 206, 0.1);
}

#img2 {
	position : relative;
	bottom: 200px;
	left: 100px;
    box-shadow: 5px 10px 10px 10px rgba(11, 239, 247), 
    -10px -10px 10px 10px rgb(11, 239, 247),
    -10px 10px 10px 10px rgba(6, 19, 206, 0.1), 
    10px -10px 10px 10px rgba(6, 19, 206, 0.1);
	border-radius: 15px;
    margin-left: 300px;
}

#img3 {
	position : relative;
	bottom: 200px;
	margin-left: 1200px;
	border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(11, 239, 247), 
    -10px -10px 10px 10px rgb(11, 239, 247),
    -10px 10px 10px 10px rgba(6, 19, 206, 0.1), 
    10px -10px 10px 10px rgba(6, 19, 206, 0.1);
}